*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /*primary*/

    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /*base color*/

    --base-gray-100: #0D0E11;
    --base-gray-200: #16181D;
    --base-gray-300: #292C34;
    --base-gray-400: #878EA1;
    --base-gray-500: #C0C4CE;
    --base-gray-600: #E2E4E9;
    
    --font-title: 'Asap', sans-serif;
    --font-subtitle: 'Inconsolata', sans-serif;
    --font-paragraf: 'Maven Pro', sans-serif;
}

h1{
    font-family: var(--font-title);
    font-size: 56px;
    font-weight: bold;

    color: var(--base-gray-600);
}

h3 {
    font-family: var(--font-subtitle);
    font-size: 20px;
    font-weight: regular;

    color: var(--base-gray-500);
}

p {
    font-family: var(--font-paragraf);
    font-size: 14px;
    font-weight: regular;

    color: var(--base-gray-400);
}

.red {
    color: var(--red);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}